:root {
  --actual-height: 100vh;
  --screen-aspect-ratio: (8/7);
  --game-screen-width: 100vw;
  --game-screen-height: calc(var(--game-screen-width) / var(--screen-aspect-ratio));
  --bottom-padding: calc(var(--game-screen-height) / 6);
  --samurai-kirby-button-width: calc(var(--game-screen-height) / 1.65);
  --samurai-kirby-button-height: calc(var(--game-screen-height) / 1.65);
  --button-height: calc(var(--actual-height) / 8);
  --control-panel-bg-color: #586838;
  --level-select-bg-color: #393939;
}

@font-face {
  font-family: kirbyFont;
  src: url(../media/Connection.otf);
}

*, * *, * * * {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: kirbyFont;
  image-rendering: pixelated;
  width: 100%;
  height: var(--actual-height);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  user-select: none;
}

button {
  font-family: inherit;
  text-shadow: inherit;
  padding-top: calc(var(--button-height) / 10);
}

button::after {
  pointer-events: none;
}

button, .game-selection {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
  transition: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  display: none !important;
}

#game-select-screen {
  background-color: #aaa;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr calc(var(--button-height) * 2);
  grid-template-columns: 1fr;
  transition: opacity 300ms ease;
}

#game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--button-height) * 0.15);
  padding: calc(var(--button-height) * 0.5) 0;
}

.game-selection {
  height: var(--button-height);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: var(--bottom-padding);
}

.game-selection {
  border-image-source: url("../media/samurai-kirby/images/ui/qdborder.png");
  border-image-slice: 33.3% 33.3% 33.3% 33.3%;
  border-image-repeat: stretch stretch;
  border-style: solid;
  border-image-width: 0;
}
#samurai-kirby .logo,
.game-selection .logo {
  --button-logo-height: calc(var(--button-height) * 0.65);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: var(--button-logo-height);
  width: calc(var(--button-logo-height) * (205/50));
  pointer-events: none;
}

#samurai-kirby-selection {
  height: calc(var(--button-height) * 1.25);
}
#samurai-kirby-selection > .logo {
  background-image: url("../media/samurai-kirby/images/ui/sklogo.png");
  
}

#bomb-rally-selection > .logo {
  background-image: url("../media/bombrally/images/ui/brlogo.png");
}

#kotd-selection {
  margin: calc(var(--button-height) / 12) 0;
}

#kotd-selection > .logo {
  --button-logo-height: calc(var(--button-height) * 1.1);
  background-image: url("../media/kotd/images/ui/kotdlogo.png");
  width: calc(var(--button-logo-height) * (235/90));
}

.game-selection.selected {
  border-image-width: calc(var(--button-height) * 0.3);
  animation: blink-border-image 300ms ease-in-out infinite alternate;
}

#samurai-kirby {
  /* font-weight: bold; */
  color: #402a00;
  text-shadow:
    -1px 0 0 #222, 
    1px 0 0 #222,
    0 -1px 0 #222,
    0 1px 0 #222
  ;
  letter-spacing: 1px;
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: opacity 300ms ease;
}

#samurai-kirby-instructions-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-screen-width);
  height: var(--game-screen-height);
  background-color: #dbdbdb;
  color: #586058;
  text-shadow: none;
  font-weight: bold;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

#samurai-kirby-instructions {
  background-image: url(../media/samurai-kirby/images/ui/quickdrawinstructions.png);
  background-repeat: no-repeat;
  background-size: cover;
  --width: calc(var(--game-screen-width) * 0.9);
  width: var(--width);
  height: calc(var(--width) / (240/90));
}

#samurai-kirby #level-bar {
  position: absolute;
  background-image: url(../media/samurai-kirby/images/ui/levelbar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  bottom: 0;
  width: var(--game-screen-width);
  height: calc(var(--game-screen-width) / 6.55);
}

#samurai-kirby #level-bar > .star {
  position: absolute;
  bottom: calc(var(--button-height) * 0.05);
  background-image: url(../media/samurai-kirby/images/ui/star.png);
  width: calc(var(--game-screen-height) / 20);
  height: calc(var(--game-screen-height) / 20);
}

#button-name {
  position: absolute;
  font-size: calc(var(--game-screen-height) / 18);
  width: calc(var(--game-screen-height / 12));
  right: calc(var(--game-screen-height) / 3.25);
  top: calc(var(--game-screen-height) * 0.72);
  transform-origin: center;
  translate: 50% 0;
}

#samurai-kirby-instructions-screen .logo {
  border-image: none;
  border-width: 0;
  transform-origin: center;
  transition: all 1200ms ease !important;
  /* transition-delay: 3000ms; */
}

#samurai-kirby-instructions-screen .samurai-kirby-logo,
#samurai-kirby-selection .samurai-kirby-logo {
  --button-logo-height: calc(var(--button-height) * 1.35);
  height: var(--button-logo-height);
  width: calc(var(--button-logo-height) / 0.583);
}

#samurai-kirby.showing-instructions #samurai-kirby-instructions-screen {
  opacity: 1;
}

#samurai-kirby.showing-instructions
  #samurai-kirby-instructions-screen
    .samurai-kirby-logo-right {
  position: absolute;
  background-image: url("../media/samurai-kirby/images/ui/sklogoright.png");
  translate: 100% 0;
}
#samurai-kirby.showing-instructions
  #samurai-kirby-instructions-screen
    .samurai-kirby-logo-left {
  background-image: url("../media/samurai-kirby/images/ui/sklogoleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  translate: -100% 0;

}
#samurai-kirby.showing-instructions
  #samurai-kirby-instructions-screen
    .samurai-kirby-logo-right,
#samurai-kirby.showing-instructions 
  #samurai-kirby-instructions-screen
    .samurai-kirby-logo-left {
  translate: 0 0;
  opacity: 1;
  
  /* animation: land 600ms ease forwards; */
}

#samurai-kirby.resetting *:not(.player-status, .veil) {
  transition-duration: 0ms !important;
}

#samurai-kirby-screen {
  position: relative;
  width: var(--game-screen-width);
  height: var(--game-screen-height);
  background-image: url(../media/samurai-kirby/images/ui/quickdrawbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: scroll;
}

#samurai-kirby-screen > .veil {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-screen-width);
  height: var(--game-screen-height);
  background-color: white;
  opacity: 0;
  transition: opacity 600ms ease;
  z-index: 2;
}
#samurai-kirby-screen > .veil.showing {
  opacity: 1;
}
#slash-screen, #score-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-screen-width);
  height: var(--game-screen-height);
  background-color: #000000;
  z-index: 1;
  display: none;
}
.slash-mark {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: none;
}
.slash-mark.showing {
  display: block;
}
.slash-mark::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #000000;
  /* opacity: 0.5; */
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 80ms linear;
}
.slash-mark.revealing::after {
  transform: scaleX(0);
}
.slash-mark:first-child {
  --height: calc(var(--game-screen-height) * 0.6);
  height: var(--height);
  width: calc(var(--height) * (180/96));
  background-image: url(../media/samurai-kirby/images/ui/slashmark1.png);
}
#center-slash {
  --height: calc(var(--game-screen-height) * 0.2);
  height: var(--height);
  width: calc(var(--height) * (54/32));
  background-image: url(../media/samurai-kirby/images/ui/slashcenter.png);
  animation: blink 2ms linear infinite;
}
#center-slash::after {
  display: none;
}
.slash-mark:last-child {
  --height: calc(var(--game-screen-height) * 0.9);
  height: var(--height);
  width: calc(var(--height) / (144/65));
  background-image: url(../media/samurai-kirby/images/ui/slashmark2.png);
}

#score-screen {
  background-color: transparent;
  font-size: calc(var(--game-screen-height) * 0.08);
  display: grid;
  grid-template-rows: 
    calc(var(--game-screen-height) / 8) 
    auto
    1fr
    1fr
  ;
  grid-template-columns: 1fr;
  justify-items: center;
  opacity: 0;
  z-index: 1;
  height: var(--game-screen-height);
}

#samurai-kirby.showing-score #score-screen {
  opacity: 1;
}

#enemies-defeated, #fastest-time {
  display: flex;
  gap: calc(var(--game-screen-height) / 30);
  align-items: center;

  align-items: baseline;
  align-self: center;
}

#enemies-defeated > span:last-child, 
#fastest-time > span:last-child {
  translate: 0 25%;
}

#enemies-defeated {
  padding-top: calc(var(--game-screen-height) * 0.07);
}

#fastest-time {
  align-self: stretch;
}

#score-kirby {
  position: relative;
  width: calc(var(--game-screen-height) * 0.45);
  height: calc(var(--game-screen-height) * 0.45);
  translate: -17% 3%;
  background-image: url(../media/samurai-kirby/images/samuraikirby/waiting.png);
}

#total-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  font-size: calc(var(--game-screen-height) * 0.06);
  gap: calc(var(--game-screen-height) * 0.01);
  padding: calc(var(--game-screen-height) * 0.04) 0;
}

.score-numeral 
{
  filter: 
    drop-shadow(2px 0px rgb(255, 255, 255))
    drop-shadow(-1px 0px rgb(255, 255, 255))
    drop-shadow(0px -1px rgb(255, 255, 255))
    drop-shadow(0px 2px rgb(255, 255, 255))
  ;
}

.score-screen-display {
  opacity: 0;
  scale: 0.8;
}
#total-score-display {
  display: flex;
  align-items: center;
  transform-origin: center;
  opacity: 0;
  scale: 0.8;
}

#total-score-display > .score-numeral {
  width: calc(var(--game-screen-height) * 0.07);
  height: calc(var(--game-screen-height) * 0.07 * (16/9));
}

#samurai-kirby.showing-score .score-screen-display {
  animation: zoom-fade-in 1000ms ease forwards;
}
#samurai-kirby.showing-score #enemy-count-display {
  animation-delay: 1000ms;
}
#samurai-kirby.showing-score #fastest-time-display {
  animation-delay: 1800ms;
}
#samurai-kirby.showing-score #total-score-display {
  animation-delay: 2600ms;
}

#samurai-kirby-controls {
  background-color: var(--control-panel-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--game-screen-height) * 0.1);
  flex-grow: 1;
  padding-top: calc(var(--game-screen-height) / 4);
  padding-bottom: var(--bottom-padding);
}

.fancy-button {
  --draw-button-color: red;
  position: relative;
  border-radius: 50%;
  background: transparent !important;
  color: #ddd;
  font-weight: bold;
  border: 0;
  filter: drop-shadow(0 4px black);
  transition: background-color 200ms ease, all 100ms ease;
}

#samurai-kirby-button {
  width: var(--samurai-kirby-button-width);
  height: var(--samurai-kirby-button-height);
  max-width: var(--samurai-kirby-button-width);
  max-height: var(--samurai-kirby-button-height);
  /* max-width: calc(var(--actual-height) / 3.5);
  max-height: calc(var(--actual-height) / 3.5); */
}

.fancy-button:active::after {
  margin-top: calc(var(--button-height) / 16);
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4;
  box-shadow:inset 0 1px 0 #FFE5C4;
  transition: all 100ms ease;
}

.fancy-button::before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  top: 2.5%;
  left: 0;
  background-color: var(--draw-button-color);
  filter: brightness(50%);
  border-radius: inherit;
}

.fancy-button.receded {
  opacity: 0;
  scale: 0.8;
}

#samurai-kirby.waiting #samurai-kirby-button,
#samurai-kirby.resetting #samurai-kirby-button,
.fancy-button
{
  --draw-button-color: rgb(150, 82, 82);
}

.fancy-button::after {
  content: '';
  background-color: var(--draw-button-color);
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1rem;
  box-sizing: border-box;
  box-shadow: inset 0 1px 0 #ffe5c49c;
  translate: -50% -50%;
  transition: all 100ms ease;
}

#samurai-kirby.showing-instructions #samurai-kirby-button {
  --draw-button-color: green;
}
#samurai-kirby.showing-instructions #samurai-kirby-button::after {
  content: 'I\'M READY';
  font-size: calc(var(--button-height) / 2.75);
}

#samurai-kirby.time-up #samurai-kirby-button::after,
#samurai-kirby.waiting #samurai-kirby-button::after,
#samurai-kirby.resetting #samurai-kirby-button::after
{
  content: 'NOT YET';
  font-size: calc(var(--button-height) / 3.5);
}

#samurai-kirby.called #samurai-kirby-button::after {
  content: 'DRAW!';
  font-size: calc(var(--button-height) / 2.5);
}

#samurai-kirby.time-up #samurai-kirby-button::after {
  content: 'TOO SLOW';
  font-size: calc(var(--button-height) / 3.5);
}

#samurai-kirby.showing-score #samurai-kirby-button::after {
  content: 'TRY AGAIN';
  font-size: calc(var(--button-height) / 3.5);
}

#samurai-kirby.kirby-attacking #samurai-kirby-button {
  --draw-button-color: rgb(0, 184, 0);
}

#samurai-kirby.kirby-attacking #samurai-kirby-button::after {
  content: 'KIRBY WINS';
  font-size: calc(var(--button-height) / 2.5);
}
#samurai-kirby.kirby-attacking #samurai-kirby-button {
  /* pointer-events: none; */
}
#samurai-kirby.called #samurai-kirby-button,
#samurai-kirby.showing-score #samurai-kirby-button
{
  --draw-button-color: red;
}

#samurai-kirby.fouled #samurai-kirby-button::after {
  content: 'FOUL!';
  font-size: calc(var(--button-height) / 2.5);
}
#samurai-kirby.fouled #samurai-kirby-button {
  --draw-button-color: rgb(83, 67, 67);
}

#start-button, #quit-button {
  height: calc(var(--button-height) * 1);
  font-size: calc(var(--button-height) / 3.5);
  font-size: calc(var(--button-height) * 0.35);
  font-weight: bold;
  border-radius: calc(var(--button-height) * 0.325);
}

#start-button {
  --start-button-color: green;
  width: calc(var(--button-height) * 2.75);
}

#quit-button {
  --quit-button-color: rgb(120, 120, 120);
  width: calc(var(--game-screen-height) / 1.75);
  height: calc(var(--button-height) * 0.8);
  display: none;
}

#samurai-kirby.showing-score #quit-button {
  display: block;
}

#start-button::before,
#quit-button::before {
  top: 5%;
}

#start-button::before {
  background-color: var(--start-button-color);
  filter: brightness(50%);
}

#quit-button::before {
  background-color: var(--quit-button-color);
  filter: brightness(50%);
}

#start-button::after, #quit-button::after {
  text-shadow:
    -1px 0 0 #222, 
    1px 0 0 #222,
    0 -1px 0 #222,
    0 1px 0 #222;
}
#start-button::after {
  content: 'START GAME';
  background-color: var(--start-button-color);
}
#quit-button::after {
  content: 'QUIT';
  background-color: var(--quit-button-color);
}

.fighter {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: 80% 80%;
  transition: translate 300ms ease, left 100ms ease, right 100ms ease, bottom 100ms ease;
}

#kirby {
  width: calc(var(--game-screen-height) * 0.45);
  height: calc(var(--game-screen-height) * 0.45);
  left:  calc(var(--game-screen-height) * 0.03);
  bottom:  calc(var(--game-screen-height) / 10);
}

#kirby::after {
  content: '';
  position: absolute;
  bottom: 35%;
  right: 20%;
  --height: calc(var(--game-screen-height) * 0.1);
  height: var(--height);
  width: calc(var(--height) * (12/16));
  background-image: url(../media/samurai-kirby/images/ui/teardrop.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

#samurai-kirby.fouled #kirby::after {
  display: block;
  animation: drip 1000ms ease forwards;
}

#samurai-kirby.fouled #enemy {
  animation: hop 300ms ease forwards;
  animation-delay: 100ms;
}

#samurai-kirby.fouled #kirby {
  animation: hop-left 300ms ease forwards;
}

#enemy {
  height: calc(var(--game-screen-height) * 0.6);
  width: calc((var(--game-screen-height) * 0.6) / (96/128));
  left:  unset;
  right: calc(var(--game-screen-height) / 18);
  bottom:  calc(var(--game-screen-height) / 2.2);
  display: none;
}

#kirby.bouncing {
  animation: bounce-right 100ms ease alternate infinite forwards;
}

#enemy.bouncing {
  animation: bounce-left 100ms ease alternate infinite forwards;
}

body:not(.round-started) #kirby {
  translate: calc(var(--game-screen-height) * -0.5) 0;
}

body:not(.round-started) #enemy {
  translate: 100% 0;
}

#samurai-kirby.kirby-attacking #enemy {
  animation: fly-off-right 800ms linear forwards;
  animation-delay: 200ms
}

#samurai-kirby.kirby-attacking #kirby {
  left:  calc(var(--game-screen-height) * 0.25);
  bottom:  calc(var(--game-screen-height) / 4.5);
  transition-delay: 200ms;
}

#samurai-kirby.time-up #kirby {
  animation: fly-off-left 400ms linear forwards;
  animation-delay: 200ms
}

#samurai-kirby.time-up #enemy {
  right: calc(var(--game-screen-height) / 6);
  bottom:  calc(var(--game-screen-height) / 3.5);
  transition-delay: 200ms;
}

#exclamation-point {
  position: absolute;
  background-image: url(../media/samurai-kirby/images/ui/exclamationpointfilled.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(var(--game-screen-height) * 0.3125);
  height: calc(var(--game-screen-height) * 0.3125);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  opacity: 0;
  scale: 0.7;
  transition: opacity 200ms ease, scale 200ms ease;
  animation: flash 60ms linear infinite;
}

#samurai-kirby.called #exclamation-point {
  opacity: 1;
  scale: 1;
}

#score-post {
  position: absolute;
  bottom: 0;
  right: calc(var(--game-screen-height) / 40);
  --height: calc(var(--game-screen-height) / 4);
  height: var(--height);
  width: calc(var(--height) * 1.5);
  background-image: url(../media/samurai-kirby/images/ui/scorepostwide.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5%;
  translate: 0 100%;
  transition: translate 500ms ease;
}

#score-post > .score-numeral {
  filter: unset;
}

#samurai-kirby.fouled #score-post::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: calc(var(--game-screen-height) * 0.15);
  height: calc(var(--game-screen-height) * 0.15);
  background-image: url(../media/samurai-kirby/images/ui/xmark.png);
  background-repeat: no-repeat;
  background-size: contain;
  rotate: -90deg;
}

#score-post.showing {
  translate: none;
}

.score-numeral {
  width: calc(var(--game-screen-height) * 0.05625);
  height: calc(var(--game-screen-height) * 0.05625 * (16/9));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.white {
  filter: invert();
}

.green {
  filter: invert() sepia(100%) hue-rotate(30deg) saturate(100);
}

.red {
  filter: invert() sepia(100%) hue-rotate(289deg) saturate(220);
}

.brown {
  filter: invert() sepia(100%) hue-rotate(313deg) saturate(280) brightness(0.25);
}

#player-score, #player-level {
  position: absolute;
  top: calc(var(--game-screen-height));
  left: 0;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: white;
  height: calc(var(--game-screen-height) / 6);
  display: flex;
  align-items: center;
}

#player-score-display, #score-change-display, #player-level, #fastest-time-display {
  display: flex;
}

#score-change-display {
  position: absolute;
  top: calc(var(--game-screen-height) / 12);
  left: calc(100% + (var(--game-screen-height) / 30));
  opacity: 0;
  scale: 0.75;
  translate: 0 -50%;
  transform-origin: left;
  transition: opacity 300ms ease;
  z-index: 1;
  /* display: none; */
}

#score-change-display.showing {
  opacity: 1;
  animation: slide-left 300ms ease forwards;
}

.player-status {
  opacity: 0;
  transition: opacity 300ms ease;
}

body.round-started #samurai-kirby:not(.showing-score, .resetting) .player-status {
  opacity: 1;
}

#player-level {
  display: flex;
  align-items: center;
  gap: 1rem;
  left: unset;
  right: 0;
  margin-right: 1rem;
  font-size: calc(var(--game-screen-height) / 16);
}

#lives-area {
  position: absolute;
  top: calc(var(--game-screen-height) / 60);
  left: calc(var(--game-screen-height) / 60);
  display: flex;
  gap: calc(var(--game-screen-height) / 60);
}

#lives-area > .life-marker {
  width: calc(var(--game-screen-height) * 0.1);
  height: calc(var(--game-screen-height) * 0.1);
  background-image: url(../media/samurai-kirby/images/ui/xmark.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  transition: opacity 300ms ease;
}

#lives-area > .life-marker.filled {
  opacity: 1
}

@keyframes flash {
  from {
    background-image: url(../media/samurai-kirby/images/ui/exclamationpointfilled.png);
  }
  to {
    background-image: url(../media/samurai-kirby/images/ui/exclamationpoint.png);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fly-off-right {
  from {
    translate: 0;
    rotate: 0;
    scale: 1;
  }
  50% {
    translate: 5% -80%;
    scale: 0.75;
  }
  to {
    translate: -10% 0;
    rotate: 430deg;
    scale: 0.2;
  }
}

@keyframes fly-off-left {
  from {
    translate: 0;
    rotate: 0;
    scale: 1;
  }
  50% {
    translate: -25% -60%;
    scale: 1.05;
  }
  to {
    translate: -50% -30%;
    rotate: -180deg;
    scale: 1.1;
  }
}

@keyframes drip {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 calc(var(--game-screen-height) * 0.08);
  }
}

@keyframes hop {
  from {
    translate: 0 0;
  }
  50% {
    translate: 0 calc(var(--game-screen-height) * -0.05);
  }
  to {
    translate: 0 0;
  }
}

@keyframes hop-left {
  from {
    translate: 0 0;
    rotate: 0deg
  }
  50% {
    translate: calc(var(--game-screen-height) * -0.05) calc(var(--game-screen-height) * -0.05);
  }
  65% {
    rotate: -9deg
  }
  to {
    translate: 0 0;
    rotate: 0deg
  }
}

@keyframes slide-left {
  from {
    translate: calc(var(--game-screen-height) / 12) -50%;
  }
  to {
    translate: 0 -50%;
  }
}

@keyframes zoom-fade-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes bounce-left {
  from {
    margin-right: 0;
  }
  to {
    margin-right: calc(var(--game-screen-height) / 80);
  }
}

@keyframes bounce-right {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(var(--game-screen-height) / 80);
  }
}

@keyframes blink-border-image {
  from {
    border-image-outset: calc(var(--button-height) * 0.1) calc(var(--button-height) * 0.1);
  }
  to {
    border-image-outset: calc(var(--button-height) * 0.18) calc(var(--button-height) * 0.2);
  }
}

@keyframes land {
  from {
    opacity: 0;
    scale: 1.2
  }
  to {
    opacity: 1;
    scale: 1
  }
}

#loading-bar {
  position: fixed;
  left: 50%;
  bottom: calc(var(--button-height) * 0.5);
  width: calc(var(--button-height) * 3);
  height: calc(var(--button-height) * 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff33;
  border: calc(var(--button-height) / 48) solid #ffffff99;
  transform-origin: left center;
  translate: -50% 0;
  pointer-events: none;
}

#loading-bar > #label {
  color: var(--control-panel-bg-color);
  font-size: calc(var(--button-height) * 0.175);
  z-index: 1;
}

#loading-bar > #filler {
  position: absolute;
  transform-origin: inherit;
  width: inherit;
  height: inherit;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.293);
  scale: 1% 1;
  transition: scale 200ms ease;
}

#loading-bar > #details {
  position: absolute;
  height: inherit;
  text-align: center;
  translate: 0 125%;
}
